<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimian.system.mapper.BlogLikeMapper">

    <sql id="Not_Deleted">
        (deleted IS NULL OR deleted = 0)
    </sql>

    <select id="selectActive" resultType="com.yimian.system.entity.BlogLike">
        SELECT * FROM sys_blog_like
        WHERE blog_id = #{blogId}
          AND user_id = #{userId}
          AND <include refid="Not_Deleted"/>
        LIMIT 1
    </select>

    <select id="selectAny" resultType="com.yimian.system.entity.BlogLike">
        SELECT * FROM sys_blog_like
        WHERE blog_id = #{blogId}
          AND user_id = #{userId}
        ORDER BY id DESC
        LIMIT 1
    </select>

    <update id="softDelete">
        UPDATE sys_blog_like SET deleted = 1
        WHERE blog_id = #{blogId}
          AND user_id = #{userId}
          AND <include refid="Not_Deleted"/>
    </update>

    <update id="restore">
        UPDATE sys_blog_like SET deleted = 0
        WHERE id = #{id}
    </update>

</mapper>
