<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimian.system.mapper.TagMapper">

    <sql id="Not_Deleted">
        (deleted IS NULL OR deleted = 0)
    </sql>

    <select id="selectByIds" resultType="com.yimian.system.entity.Tag">
        SELECT * FROM sys_tag
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
          AND <include refid="Not_Deleted"/>
    </select>

</mapper>
